body {
  background: blanchedalmond;
}

/*give each element a border*/
* {
  border: 1px solid black;
}

body {
  margin: 0;
  font-family: sans-serif;
  text-align: center;

}                  

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}                  

main {
  min-height: 60vh;
  flex-grow: 5;
}


footer, header {
  background-color: burlywood;
  flex-grow: 1;
}                             
             
              
@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  main {
    max-width: 70%;
  }
  header {
    width: 100%;
  }

  footer {
    max-width: 39%;
  }
}                                  
                

